.account_money_balance{
	background:#ff9797;
	height: 13rem; 
}
.account_money_change li{
	display: inline-block;
	padding: 0.5rem;
	border-bottom: 1px #eee solid;
	width: 100%;
}
.account_money_change li div:nth-of-type(1){
	float: left;
	margin-left: 3%;
}
.account_money_change li div:nth-of-type(2){
	float: right;
	margin-right: 3%;
}
.account_order p{
	padding: 0.2rem 0;
}
.account_order_num{
	margin-top: 0.8rem;
}