.classify_title{
	height: 3rem;
	line-height: 3rem;
}
.classify_title div{
	margin-left: 10%;
}
.classify_title div:nth-child(1){
	width: 20%;	
}
.classify_title div:nth-child(2){
	width: 60%;
}
.classify_title div:nth-child(2) img{
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
}
.classify_list_ul1_add{
	background: #fff!important;
	color:#c81e1e!important;
	border: 0;
}
.classify_search{
	width: 80%;
	height: 3rem;
	line-height: 3rem;
	display: inline-block;
	background: #fff;
	border-radius: 0.5rem;
	margin-left: 1rem;
	margin-top:0.7rem;
	position: relative;
}
.classify_search input{
	margin-top: 0.25rem;
}
.classify_search_icon{
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/search_03.png) no-repeat;
	background-size: cover;
	display: inline-block;
	position: absolute;
	right: 0.8rem;
	top: 0.6rem;
}
.classify_header{
	background: #e0e0e0;
}
.classify_bg{
	background: #f3f4f6;
}
.classify_box{
	float: left;
	padding: 4.4rem 0;
	text-align: center;
	position: relative;
}
.box1{
	width: 30%;
}
.box2{
	width: 70%;
}
.ul2 {
	display: none;
}
.ul2 li{
	display: -webkit-box;
    overflow: hidden;
    text-align: left;
    color: #333;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break:break-all;
    border-bottom: 1px #eee solid;
}
#wrapper{
	position: absolute;
	z-index: 101;
	top: 4.4rem;
	bottom: 4.4rem;
	left: 0;
	width: 100%;
	background: #eee;
	overflow: hidden;
}
#wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#wrapper li {
	width: 96%
	margin:0.5rem auto;
	text-align: center;
	padding: 0 10px;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	background-color: #fafafa;
	font-size: 14px;
}
#wrapper2 {
	position: absolute;
	z-index: 101;
	top: 4.4rem;
	bottom: 4.4rem;
	right: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 101;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	width: 96%;
	margin:auto;
	text-align: left;
}

#scroller li {
	text-align: center;
	padding: 0 10px;
	height: 48px;
	line-height: 48px;
	background-color: #fff;
	font-size: 14px;
}
#scroller li:nth-child(1){
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	border: none;
	background: #fff;
	-webkit-line-clamp: 2;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px #eee solid;
}
