.coupon_text_1{
	width: 90%;
	height:9.99rem; 
	background:url(../img/coupon/coupon_06.png) no-repeat; 
	background-size: cover;
	margin-left: 5%;
}
.coupon_text_1 p{
	padding-top: 0.1rem;
}
.coupon_text_1>.text_1{
	top: 1rem;
	left: 5%;
}
.coupon_text_1>.text_2{
	top: 1rem;
	right: 5%;
	font-size: 2.8rem;
}
.coupon_text_1>.text_3{
	left: 5%;
	bottom: 1rem;
}
.coupon_text_2{
	width: 90%;
	height:9.99rem; 
	background:url(../img/coupon/coupon_06.png) no-repeat; 
	background-size: cover;
	margin-left: 5%;
}
.coupon_text_2 p{
	padding-top: 0.1rem;
}
.coupon_text_2>.text_1{
	top: 1rem;
	left: 5%;
}
.coupon_text_2>.text_2{
	top: 1rem;
	right: 5%;
	font-size: 2.8rem;
}
.coupon_text_2>.text_3{
	left: 5%;
	bottom: 1rem;
}
.coupon_text_3{
	width: 90%;
	height:9.99rem; 
	background:url(../img/coupon/coupon_08.png) no-repeat; 
	background-size: cover;
	margin-left: 5%;
}
.coupon_text_3 p{
	padding-top: 0.1rem;
}
.coupon_text_3>.text_1{
	top: 1rem;
	left: 5%;
}
.coupon_text_3>.text_2{
	top: 1rem;
	right: 5%;
	font-size: 2.8rem;
}
.coupon_text_3>.text_3{
	left: 5%;
	bottom: 1rem;
}