.order_footer{
	width: 100%;
	height: 4.4rem;
	display: inline-block;
}
.order_footer_money{
	width: 60%;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
}
.order_footer_btn{
	width: 40%;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	display: inline-block;
}
.logistics_address{
	padding: 0.5rem 0;
	border-bottom: 1px #cecece solid;
	border-top: 1px #cecece solid;
}
.logistics_address p{
	padding: 0.5rem 0;
}
.logistics_address p:nth-of-type(1){
	margin-left: 5%;
}
.logistics_address p:nth-of-type(2){
	margin-left: 3%;
}
.address{
	width: 0.8rem;
	height: 0.9rem;
}
.order_set{
	margin-top: 1rem;
	border-top: 1px #c9c9c9 solid;
	border-bottom: 1px #c9c9c9 solid;
}
.order_set ul li{
	width:94%;
	display: inline-block;
	border-bottom: 1px #eee solid;
	position: relative;
	padding: 1rem 0;
}
.order_message{
	padding: 0.5rem 0;
	width: 94%;
	margin-left: 3%;
	display: inline-block;
}
.order_goods img{
	width: 7.5rem;
	height: 7.5rem;
}
.order_goods p{
	bottom: 0;
	left: 0rem;
	background: #000;
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
}
.order_text{
	width: 65%;
	margin-left: 1rem;
}
.order_text p{
	padding: 0.2rem 0;
}
.order_text p:nth-of-type(1){
	display: -webkit-box;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
@media only screen and (max-width:321px) and (min-width:310px){
    .order_text{
	width: 15rem;
	margin-left: 1rem;

}
}
.order_prev_address{
	right: 6%;
	top: 20%;
}
.order_prev_address img{
	width: 0.5rem;
	height: 0.9rem;
}
.order_prev{
	right: 0;
	bottom: 1rem;
}
.order_prev img{
	width: 0.5rem;
	height: 0.9rem;
}
.order_set_title1{
	margin-left: 5%; 
}
.order_set_title2{
	margin-right: 5%;
}
.order_set_money{
	width: 100%;
	display: inline-block;
	margin-top: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 1px #c9c9c9 solid;
	border-top: 1px #c9c9c9 solid;
}
.order_set_money p{
	padding: 0.2rem 0;
}
.order_set_num{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: right;
	padding-right: 5%;
	border-top: 1px #eee solid;
}
.order_set_num2{
	width: 100%;
	text-align: right;
	padding-right: 5%;
	border-top: 1px #eee solid;
}